In [1]:
import os
import math
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
data_path = r"C:\Users\limwk\Desktop\data\taxi_data_raw_all.csv"

In [72]:
raw = pd.read_csv(data_path, encoding='euc-kr')

In [71]:
raw.head()

,차량고유번호,차량타입,예정일시,배차일시,승차일시,출발지(구),출발지(동),목적지(구),목적지(동)
0,9568,중형승합,2018-01-01 오전 12:03:00,2018-01-01 오전 2:19:23,2018-01-01 오전 2:48:48,중구,명동,용산구,한강로동
1,7638,중형승합,2018-01-01 오전 12:04:00,2018-01-01 오전 2:24:19,2018-01-01 오전 2:46:04,서초구,반포1동,강서구,등촌제3동
2,5807,중형승합,2018-01-01 오전 12:08:00,2018-01-01 오전 2:27:53,2018-01-01 오전 2:48:29,강북구,인수동,노원구,하계2동
3,1061,중형승합,2018-01-01 오전 12:21:00,2018-01-01 오전 3:48:11,2018-01-01 오전 3:59:29,관악구,청림동,성북구,안암동
4,7658,중형승합,2018-01-01 오전 12:25:00,2018-01-01 오전 3:55:17,2018-01-01 오전 4:17:58,노원구,월계1동,노원구,상계5동

In [74]:
raw.예정일시 = raw.예정일시.str.replace('오전', 'AM')
raw.예정일시 = raw.예정일시.str.replace('오후', 'PM')
raw.배차일시 = raw.배차일시.str.replace('오전', 'AM')
raw.배차일시 = raw.배차일시.str.replace('오후', 'PM')
raw.승차일시 = raw.승차일시.str.replace('오전', 'AM')
raw.승차일시 = raw.승차일시.str.replace('오후', 'PM')

In [75]:
raw.head()

,차량고유번호,차량타입,예정일시,배차일시,승차일시,출발지(구),출발지(동),목적지(구),목적지(동)
0,9568,중형승합,2018-01-01 AM 12:03:00,2018-01-01 AM 2:19:23,2018-01-01 AM 2:48:48,중구,명동,용산구,한강로동
1,7638,중형승합,2018-01-01 AM 12:04:00,2018-01-01 AM 2:24:19,2018-01-01 AM 2:46:04,서초구,반포1동,강서구,등촌제3동
2,5807,중형승합,2018-01-01 AM 12:08:00,2018-01-01 AM 2:27:53,2018-01-01 AM 2:48:29,강북구,인수동,노원구,하계2동
3,1061,중형승합,2018-01-01 AM 12:21:00,2018-01-01 AM 3:48:11,2018-01-01 AM 3:59:29,관악구,청림동,성북구,안암동
4,7658,중형승합,2018-01-01 AM 12:25:00,2018-01-01 AM 3:55:17,2018-01-01 AM 4:17:58,노원구,월계1동,노원구,상계5동

In [77]:
time11 = []
time22 = []
time33 = []
form_time = "%Y-%m-%d %p %I:%M:%S"
form_time2 = "%Y-%m-%d"

for i in range(len(raw.예정일시)):    
    try:
        time11.append(datetime.strptime(raw.예정일시[i], form_time))
        
    except:
        time11.append(datetime.strptime(raw.예정일시[i], form_time2))
        
for i in range(len(raw.배차일시)):    
    try:
        time22.append(datetime.strptime(raw.배차일시[i], form_time))
    except:
        time22.append(0)
        
for i in range(len(raw.승차일시)):    
    try:
        time33.append(datetime.strptime(raw.승차일시[i], form_time))
    except:
        time33.append(0)

In [82]:
time11[0].strftime('%Y-%m-%d %H:%M:%S')

'2018-01-01 00:03:00'

In [97]:
time111 = []
time222 = []
time333 = []

form_time = '%Y-%m-%d %H:%M:%S'

for i in range(len(time11)):    
    try:
        time111.append(datetime.strftime(time11[i], form_time))
    except:
        time111.append(0)
        
for i in range(len(time22)):    
    try:
        time222.append(datetime.strftime(time22[i], form_time))
    except:
        time222.append(0)
        
for i in range(len(time33)):    
    try:
        time333.append(datetime.strftime(time33[i], form_time))
    except:
        time333.append(0)

In [98]:
raw.예정일시 = time111
raw.배차일시 = time222
raw.승차일시 = time333

In [99]:
raw.head()

,차량고유번호,차량타입,예정일시,배차일시,승차일시,출발지(구),출발지(동),목적지(구),목적지(동)
0,9568,중형승합,2018-01-01 00:03:00,2018-01-01 02:19:23,2018-01-01 02:48:48,중구,명동,용산구,한강로동
1,7638,중형승합,2018-01-01 00:04:00,2018-01-01 02:24:19,2018-01-01 02:46:04,서초구,반포1동,강서구,등촌제3동
2,5807,중형승합,2018-01-01 00:08:00,2018-01-01 02:27:53,2018-01-01 02:48:29,강북구,인수동,노원구,하계2동
3,1061,중형승합,2018-01-01 00:21:00,2018-01-01 03:48:11,2018-01-01 03:59:29,관악구,청림동,성북구,안암동
4,7658,중형승합,2018-01-01 00:25:00,2018-01-01 03:55:17,2018-01-01 04:17:58,노원구,월계1동,노원구,상계5동

## 서울지역만 뽑기

In [217]:
raw2 = raw.copy()

In [3]:
gu = pd.read_csv("C:/Users/limwk/Desktop/data/서울시 행정구역.csv", encoding='euc-kr')

In [4]:
gu = gu[['행정구']]

In [224]:
raw2 = raw2.merge(gu, how='left', left_on='출발지(구)', right_on='행정구')
raw2 = raw2.merge(gu, how='left', left_on='목적지(구)', right_on='행정구')

In [225]:
raw2 = raw2[raw2.예정일시 != 0]
raw2 = raw2[raw2.배차일시 != 0]
raw2 = raw2[raw2.승차일시 != 0]

In [226]:
raw3 = raw2.iloc[:, :-2]

In [228]:
raw3.to_csv("C:/Users/limwk/Desktop/data/raw3.csv", encoding='euc-kr', index=None)

### 파생변수 (요일, 시간 등 생성)

In [352]:
df = pd.read_csv("C:/Users/limwk/Desktop/data/raw3.csv", encoding='euc-kr')

In [353]:
df[df.예정일시 == '0']

Empty DataFrame
Columns: [차량고유번호, 차량타입, 예정일시, 배차일시, 승차일시, 출발지(구), 출발지(동), 목적지(구), 목적지(동)]
Index: []

In [355]:
df['승차_예정(초)'] = time_diff(df.승차일시, df.예정일시)
df['승차_배차(초)'] = time_diff(df.승차일시, df.배차일시)
df['배차_예정(초)'] = time_diff(df.배차일시, df.예정일시)

In [356]:
df['월'] = GetYMDT(df['승차일시'], YMD='%m')
df['일'] = GetYMDT(df['승차일시'], YMD='%d')
df['시간'] = GetYMDT(df['승차일시'], YMD='%H')
df['요일'] = GetWeekday(df['승차일시'])

### **행정동 전처리**

In [357]:
df2 = df.copy()

In [358]:
df2[df2["출발지(동)"] == '제기동']

Empty DataFrame
Columns: [차량고유번호, 차량타입, 예정일시, 배차일시, 승차일시, 출발지(구), 출발지(동), 목적지(구), 목적지(동), 승차_예정(초), 승차_배차(초), 배차_예정(초), 월, 일, 시간, 요일]
Index: []

In [359]:
df2["출발지(동)"] = df2["출발지(동)"].str.replace('제', '')
df2["출발지(동)"] = df2["출발지(동)"].str.replace('기동', '제기동')
df2["출발지(동)"] = df2["출발지(동)"].str.replace('홍1동', '홍제1동')
df2["출발지(동)"] = df2["출발지(동)"].str.replace('홍2동', '홍제2동')
df2["출발지(동)"] = df2["출발지(동)"].str.replace('홍3동', '홍제3동')

In [360]:
df2["목적지(동)"] = df2["목적지(동)"].str.replace('제', '')
df2["목적지(동)"] = df2["목적지(동)"].str.replace('기동', '제기동')
df2["목적지(동)"] = df2["목적지(동)"].str.replace('홍1동', '홍제1동')
df2["목적지(동)"] = df2["목적지(동)"].str.replace('홍2동', '홍제2동')
df2["목적지(동)"] = df2["목적지(동)"].str.replace('홍3동', '홍제3동')

In [362]:
df2 = df2.dropna()

In [323]:
dif = pd.read_excel("D:/limworkspace/Machine-Learning/Group_Projects/Mini_project_02/tableau/201804_정부_서울_행정동_위경도.xlsx", encoding='euc-kr')

In [328]:
set(dif["adm_nm_dong"].unique()) - set(df["출발지(동)"])

{'공릉1동', '다산동', '동화동', '신당동', '약수동', '용신동', '위례동', '제기동', '청구동', '회기동'}

In [15]:
df2.to_csv("C:/Users/limwk/Desktop/data/final_call_taxi.csv", index=False, encoding='euc-kr')

### **사용 함수**

In [237]:
def time_diff(data1, data2):
    temp = []
    
    for i in range(len(data1)):
        d1 = datetime.strptime(data1[i], "%Y-%m-%d %H:%M:%S")
        d2 = datetime.strptime(data2[i], "%Y-%m-%d %H:%M:%S")
        delta = d1 - d2
        
        if delta.days < 0:
            temp.append(0)
        else:
            temp.append(delta.seconds)
    return temp

In [242]:
def GetYMDT(data, YMD='%m'):
    temp = pd.to_datetime(data)
    result = temp.dt.strftime(YMD)
    return result

In [240]:
def GetWeekday(data):
    temp = pd.to_datetime(data)
    result = temp.dt.weekday_name
    return result

In [164]:
# seoul = pd.read_csv("C:/Users/limwk/Desktop/data/서울_행정동_법정동_연계.csv", encoding='euc-kr')