In [201]:
import pandas as pd 
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings(action='ignore')

In [80]:
df = pd.read_csv('C:/Users/709-000/Desktop/data/call_taxi.csv', encoding='euc-kr')

In [198]:
# pd.DataFrame(df.groupby('출발지(구)')['목적지(구)'].count().sort_values(ascending=False)) 구별 콜 건수

In [199]:
# df.pivot_table('출발지(동)','출발지(구)','목적지(구)', aggfunc='count') 구 to 구 이동 건수

In [202]:
df.head()

,차량고유번호,차량타입,예정일시,배차일시,승차일시,출발지(구),출발지(동),목적지(구),목적지(동)
0,9568,중형승합,2018-01-01 00:03:00,2018-01-01 02:19:23,2018-01-01 02:48:48,중구,명동,용산구,한강로동
1,7638,중형승합,2018-01-01 00:04:00,2018-01-01 02:24:19,2018-01-01 02:46:04,서초구,반포1동,강서구,등촌제3동
2,5807,중형승합,2018-01-01 00:08:00,2018-01-01 02:27:53,2018-01-01 02:48:29,강북구,인수동,노원구,하계2동
3,1061,중형승합,2018-01-01 00:21:00,2018-01-01 03:48:11,2018-01-01 03:59:29,관악구,청림동,성북구,안암동
4,7658,중형승합,2018-01-01 00:25:00,2018-01-01 03:55:17,2018-01-01 04:17:58,노원구,월계1동,노원구,상계5동

In [203]:
df['승차_예정(초)'] = time_diff(df.승차일시, df.예정일시)

In [205]:
df['승차_배차(초)'] = time_diff(df.승차일시, df.배차일시)

In [206]:
df['배차_예정(초)'] = time_diff(df.승차일시, df.배차일시)

In [213]:
df['월'] = GetYMDT(df['승차일시'], YMD='%m')
df['일'] = GetYMDT(df['승차일시'], YMD='%d')
df['시간'] = GetYMDT(df['승차일시'], YMD='%H')
df['요일'] = GetWeekday(df['승차일시'])

In [217]:
df = pd.read_csv('C:/Users/709-000/Desktop/data/call_taxi_final.csv', encoding='euc-kr')
# df.to_csv('C:/Users/709-000/Desktop/data/call_taxi_final.csv', index=False, encoding='euc-kr')

In [219]:
type(df['월'][0])

numpy.int64

In [171]:
def time_diff(data1, data2):
    temp = []
    
    for i in range(len(data1)):
        d1 = datetime.strptime(data1[i], "%Y-%m-%d %H:%M:%S")
        d2 = datetime.strptime(data2[i], "%Y-%m-%d %H:%M:%S")
        delta = d1 - d2
        
        if delta.days < 0:
            temp.append(0)
        else:
            temp.append(delta.seconds)
    return temp

In [212]:
def GetYMDT(data, YMD='%m'):
    temp = pd.to_datetime(data)
    result = temp.dt.strftime(YMD)
    return result

In [189]:
def GetWeekday(data):
    temp = pd.to_datetime(data)
    result = temp.dt.weekday_name
    return result