In [135]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np
import os

In [139]:
files = os.listdir("data/공공데이터")

In [147]:
path = "data/공공데이터"

In [150]:
dfs = pd.DataFrame()
for file in files:
    tmp = pd.read_csv(os.path.join(path, file), encoding='utf-8')
    dfs = pd.concat([dfs, tmp])

In [152]:
loc = dfs.drop(['전철역코드', '호선', '외부코드', '사이버스테이션', 'X좌표', 'Y좌표'], axis=1)

In [164]:
loc2.head()

        전철역명   X좌표(WGS)    Y좌표(WGS)
0       가락시장  37.492522  127.118234
2       종로3가  37.571607  126.991806
5         오금  37.502162  127.128111
7        동대문  37.571420  127.009745
9  동대문역사문화공원  37.565138  127.007896

In [172]:
loc2 = loc.drop_duplicates('전철역명')
loc2.head()

        전철역명   X좌표(WGS)    Y좌표(WGS)
0       가락시장  37.492522  127.118234
2       종로3가  37.571607  126.991806
5         오금  37.502162  127.128111
7        동대문  37.571420  127.009745
9  동대문역사문화공원  37.565138  127.007896

In [154]:
nan_loc = loc2[np.isnan(loc2['X좌표(WGS)'])]

In [167]:
nan_loc.to_csv('data/train_nan_loc.csv', encoding='euc-kr', index=None)

In [170]:
loc3 = loc2[np.isnan(loc2['X좌표(WGS)']) == False]
loc3

          전철역명   X좌표(WGS)    Y좌표(WGS)
0         가락시장  37.492522  127.118234
2         종로3가  37.571607  126.991806
5           오금  37.502162  127.128111
7          동대문  37.571420  127.009745
9    동대문역사문화공원  37.565138  127.007896
..         ...        ...         ...
924         동백  37.269043  127.152716
925         초당  37.260752  127.159443
926         삼가  37.242115  127.168075
927     시청·용인대  37.239151  127.178406
928        명지대  37.237964  127.190294

[577 rows x 3 columns]

In [168]:
loc3.to_csv('data/train_coord.csv', encoding='euc-kr', index=None)