## STEP 02 : 장애인콜시스템(cst) 데이터 전처리

## 날짜데이터 형식 변환

In [4]:
import os
import math
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

- file_path 경로수정필요

In [55]:
file_path = r"C:\Users\limwk\Desktop\data"

In [174]:
raw = pd.read_csv(file_path+'\cst_19_raw.csv', encoding='euc-kr')

In [175]:
raw.head()

,car_no,car_type,exp_time,set_time,ride_time,dept_gu,dept_dong,dest_gu,dest_dong
0,5815,중형승합,2019-01-01 오전 12:02:00,2019-01-01 오전 3:56:24,2019-01-01 오전 4:15:34,종로구,삼청동,성북구,월곡제1동
1,5815,중형승합,2019-01-01 오전 12:13:00,2019-01-01 오전 3:17:56,2019-01-01 오전 3:36:11,성북구,보문동,강북구,삼각산동
2,1313,중형승합,2019-01-01 오전 12:15:00,2019-01-01 오전 3:03:30,2019-01-01 오전 3:23:48,강북구,인수동,노원구,하계2동
3,5764,승합,2019-01-01 오전 12:17:00,2019-01-01 오전 3:55:50,2019-01-01 오전 4:16:51,중구,회현동,부천시소사구,송내1동
4,1601,중형승합,2019-01-01 오전 12:21:00,2019-01-01 오전 1:36:00,2019-01-01 오전 2:13:11,은평구,구산동,은평구,역촌동

In [176]:
raw.exp_time = raw.exp_time.str.replace('오전', 'AM')
raw.exp_time = raw.exp_time.str.replace('오후', 'PM')
raw.set_time = raw.set_time.str.replace('오전', 'AM')
raw.set_time = raw.set_time.str.replace('오후', 'PM')
raw.ride_time = raw.ride_time.str.replace('오전', 'AM')
raw.ride_time = raw.ride_time.str.replace('오후', 'PM')

In [177]:
raw.head()

,car_no,car_type,exp_time,set_time,ride_time,dept_gu,dept_dong,dest_gu,dest_dong
0,5815,중형승합,2019-01-01 AM 12:02:00,2019-01-01 AM 3:56:24,2019-01-01 AM 4:15:34,종로구,삼청동,성북구,월곡제1동
1,5815,중형승합,2019-01-01 AM 12:13:00,2019-01-01 AM 3:17:56,2019-01-01 AM 3:36:11,성북구,보문동,강북구,삼각산동
2,1313,중형승합,2019-01-01 AM 12:15:00,2019-01-01 AM 3:03:30,2019-01-01 AM 3:23:48,강북구,인수동,노원구,하계2동
3,5764,승합,2019-01-01 AM 12:17:00,2019-01-01 AM 3:55:50,2019-01-01 AM 4:16:51,중구,회현동,부천시소사구,송내1동
4,1601,중형승합,2019-01-01 AM 12:21:00,2019-01-01 AM 1:36:00,2019-01-01 AM 2:13:11,은평구,구산동,은평구,역촌동

In [104]:
time11 = []  # 날짜형식 변환 
time22 = []
time33 = []
form_time = "%Y-%m-%d %p %I:%M:%S"
form_time2 = "%Y-%m-%d"

for i in range(len(raw.exp_time)):    
    try:
        time11.append(datetime.strptime(raw.exp_time[i], form_time))
        
    except:
        time11.append(datetime.strptime(raw.exp_time[i], form_time2))
        
for i in range(len(raw.set_time)):    
    try:
        time22.append(datetime.strptime(raw.set_time[i], form_time))
    except:
        time22.append(0)
        
for i in range(len(raw.ride_time)):    
    try:
        time33.append(datetime.strptime(raw.ride_time[i], form_time))
    except:
        time33.append(0)

In [105]:
time11[0] # 데이터 확인

datetime.datetime(2019, 1, 1, 0, 2)

In [106]:
time11[0].strftime('%Y-%m-%d %H:%M:%S') # 데이터 변환 확인

'2019-01-01 00:02:00'

In [107]:
time111 = [] # datetime 객체를 다시 보기좋은형태로 변환 
time222 = []
time333 = []

form_time = '%Y-%m-%d %H:%M:%S'

for i in range(len(time11)):    
    try:
        time111.append(datetime.strftime(time11[i], form_time))
    except:
        time111.append(0)
        
for i in range(len(time22)):    
    try:
        time222.append(datetime.strftime(time22[i], form_time))
    except:
        time222.append(0)
        
for i in range(len(time33)):    
    try:
        time333.append(datetime.strftime(time33[i], form_time))
    except:
        time333.append(0)

In [108]:
raw.exp_time = time111
raw.set_time = time222
raw.ride_time = time333

In [109]:
raw.head() # 시간 변환 확인

,car_no,car_type,exp_time,set_time,ride_time,dept_gu,dept_dong,dest_gu,dest_dong
0,5815,중형승합,2019-01-01 00:02:00,2019-01-01 03:56:24,2019-01-01 04:15:34,종로구,삼청동,성북구,월곡제1동
1,5815,중형승합,2019-01-01 00:13:00,2019-01-01 03:17:56,2019-01-01 03:36:11,성북구,보문동,강북구,삼각산동
2,1313,중형승합,2019-01-01 00:15:00,2019-01-01 03:03:30,2019-01-01 03:23:48,강북구,인수동,노원구,하계2동
3,5764,승합,2019-01-01 00:17:00,2019-01-01 03:55:50,2019-01-01 04:16:51,중구,회현동,부천시소사구,송내1동
4,1601,중형승합,2019-01-01 00:21:00,2019-01-01 01:36:00,2019-01-01 02:13:11,은평구,구산동,은평구,역촌동

## **서울지역만 추출하기**

In [110]:
raw2 = raw.copy()

In [111]:
file_path # 파일 경로 확인

'C:\\Users\\limwk\\Desktop\\data'

In [112]:
gu = pd.read_csv(file_path+'\서울시 행정구역.csv', encoding='euc-kr') # 지역구 데이터

In [113]:
gu = gu[['행정구']] # 구 칼럼만 선택

In [114]:
raw2 = raw2.merge(gu, how='left', left_on='dept_gu', right_on='행정구')
raw2 = raw2.merge(gu, how='left', left_on='dest_gu', right_on='행정구')

In [115]:
raw2 = raw2[raw2.exp_time != 0]
raw2 = raw2[raw2.set_time != 0]
raw2 = raw2[raw2.ride_time != 0]

In [116]:
seoul = raw2.iloc[:, :-2] # merge후 생성되는 불필요 컬럼제거

In [138]:
seoul.to_csv(file_path+'\seoul_tmp.csv', encoding='euc-kr', index=None) # 임시저장

### **행정동 전처리**

In [178]:
df = pd.read_csv(file_path+"/seoul_tmp.csv", encoding='euc-kr')

In [179]:
df[df["dept_gu"] == '제기동']

Empty DataFrame
Columns: [car_no, car_type, exp_time, set_time, ride_time, dept_gu, dept_dong, dest_gu, dest_dong]
Index: []

In [153]:
df["dept_dong"] = df["dept_dong"].str.replace('제', '')
df["dept_dong"] = df["dept_dong"].str.replace('기동', '제기동')
df["dept_dong"] = df["dept_dong"].str.replace('홍1동', '홍제1동')
df["dept_dong"] = df["dept_dong"].str.replace('홍2동', '홍제2동')
df["dept_dong"] = df["dept_dong"].str.replace('홍3동', '홍제3동')

In [154]:
df["dest_dong"] = df["dest_dong"].str.replace('제', '')
df["dest_dong"] = df["dest_dong"].str.replace('기동', '제기동')
df["dest_dong"] = df["dest_dong"].str.replace('홍1동', '홍제1동')
df["dest_dong"] = df["dest_dong"].str.replace('홍2동', '홍제2동')
df["dest_dong"] = df["dest_dong"].str.replace('홍3동', '홍제3동')

In [155]:
df = df.dropna()

In [156]:
dif = pd.read_excel(file_path+'/201804_정부_서울_행정동_위경도.xlsx', encoding='euc-kr')

In [157]:
set(dif["adm_nm_dong"].unique()) - set(df2["dept_dong"]) # 동별 지도 데이터와 콜데이터 간의 동 차이 확인

### **파생변수 (요일, 시간 등 생성)**

In [158]:
df2 = df.copy()

In [159]:
df2[df2.ride_time == '0']

Empty DataFrame
Columns: [car_no, car_type, exp_time, set_time, ride_time, dept_gu, dept_dong, dest_gu, dest_dong]
Index: []

In [166]:
df2['ride_exp'] = time_diff(df2.ride_time, df2.exp_time)
df2['ride_set'] = time_diff(df2.ride_time, df2.set_time)
df2['set_exp'] = time_diff(df2.set_time, df2.exp_time)

In [167]:
df2['month'] = GetYMDT(df2['ride_time'], YMD='%m')
df2['day'] = GetYMDT(df2['ride_time'], YMD='%d')
df2['hour'] = GetYMDT(df2['ride_time'], YMD='%H')
df2['weekday'] = GetWeekday(df2['ride_time'])

In [168]:
df2.to_csv(file_path+"/19_cst_euc.csv", index=None, encoding='euc-kr') # 일반용 
df2.to_csv(file_path+"/19_cst_utf.csv", index=None, encoding='utf-8') # 하이브용

In [171]:
t = pd.read_csv(file_path+"/19_cst_utf.csv", encoding='utf-8') # 인코딩이 제대로 인식하는지 확인

### **사용 함수**

In [165]:
def time_diff(data1, data2):
    temp = []
    
    for i in range(len(data1)):
        d1 = datetime.strptime(data1[i], "%Y-%m-%d %H:%M:%S")
        d2 = datetime.strptime(data2[i], "%Y-%m-%d %H:%M:%S")
        delta = d1 - d2
        
        if delta.days < 0:
            temp.append(0)
        else:
            temp.append(round(delta.seconds / 60))
    return temp

In [101]:
def GetYMDT(data, YMD='%m'):
    temp = pd.to_datetime(data)
    result = temp.dt.strftime(YMD)
    return result

In [102]:
def GetWeekday(data):
    temp = pd.to_datetime(data)
    result = temp.dt.weekday_name
    return result